.todo {
    display: flex;
    align-items: baseline;

    &.done {
        text-decoration: line-through;
        color: gray;
    }
}

.todoItem {
    padding-left: 40px;
}

button.delete {
        align-self: baseline !important;
    }