body {
    align-content: center;
}

header {
    text-align: center;
}

.hide {
    display:none;
}

.show{
    display: inherit;
}
.pointer{
    cursor: pointer;
}

.paper {
    margin: 50px auto;
    max-width: 70%;
    padding: 0 60px;
}